DB_DATABASE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=
DB_TIMEZONE=
DB_MAX=
DB_MIN=
DB_ACQUIRE=
DB_IDLE=

DB_GETDESC_HOST=
DB_GETDESC_PORT=
DB_GETDESC_USERNAME=
DB_GETDESC_PASSWORD=
DB_GETDESC_DATABASE=
DB_GETDESC_DIALECT=
DB_GETDESC_TIMEZONE=
DB_GETDESC_MAX=
DB_GETDESC_MIN=
DB_GETDESC_ACQUIRE=
DB_GETDESC_IDLE=